nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 70px;
  background-color: $periwinkle;

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 16px;

    a {
      text-decoration: none;
      font-size: 1.1rem;

      &:not(.active):hover {
        color: color.adjust($gunmetal, $lightness: 20%);
      }

      &.active {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
}
