.task {
  margin-block: 0.5rem;
  padding: 1rem;
  border: 3px solid $gunmetal;
  border-radius: 0.5rem;

  button {
    @extend .btn;

    font-size: 1.5rem;
  }

  input {
    border: 0;

    &:active,
    &:focus {
      outline: 2px solid $gunmetal;
    }
  }

  &.done {
    background-color: $celadon;
    text-decoration: line-through;
  }

  &-title {
    font-weight: 700;
  }

  &-description {
    color: color.adjust($gunmetal, $lightness: 40%);
  }
}
