$whitesmoke: #F5F5F5;
$magnolia: #F5EFFF;
$pale-purple: #E5D9F2;
$periwinkle: #CDC1FF;
$tropical-indigo: #A594F9;
$medium-slate-blue: #7371FC;
$gunmetal: #2D3142;
$celadon: #80CFA9;
$feldgrau: #4C6663;

$spacing-map: (
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 0.75rem,
  "4": 1rem,
  "5": 1.5rem
);
